<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/ee22add1-662a-45ac-b7fe-c86feb6c6916/resourceGroups/globant-practice/providers/Microsoft.ContainerRegistry/registries/globantcontenedor</ResourceId>
    <ResourceName>globantcontenedor</ResourceName>
    <ResourceGroup>globant-practice</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://globantcontenedor.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b1c83166-0990-435d-ac81-332f1b759147</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>